// files

// Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Variables
@import 'variables';

body {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: 'Maven Pro', 'Nunito', sans-serif;
	min-width: 450px;

	#root {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.header {
	background-color: #f66D9b;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 32px;
	line-height: 64px;
	color: #000;
	height: 64px;
	border-bottom: 2px solid black;
}

.mainContent {
	background-color: #6cb2eb;
	height: 100vh;
	display: flex;
}

.news {
	height: 100%;
	flex-basis: 70%;
	border-right: 2px solid black;
	padding: 16px 16px 0 16px;
}

.news-header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 8px;
}

.post {
	height: 64px;
	border: 2px solid black;
	border-bottom: none;
}

.news-posts:last-child {
	border-bottom: 2px solid black
}





