// files
<<<<<<< HEAD
@import './settings.scss';
=======
@import "man";
@import "settings";
>>>>>>> a88cbb69fe6346ccd199df490c26f45630e45846
// Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Variables
@import 'variables';

body {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: 'Maven Pro', 'Nunito', sans-serif;
	min-width: 450px;

	#root {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.main-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.middle-side {
	flex-basis: 50%;
}

.right-side {
	flex-basis: 20%;
}

